name: Notify Discord on PR Merge

on:
  pull_request:
    types:
      - closed

jobs:
  notify:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord Notification
        run: |
          curl -H "Content-Type: application/json" \
          -X POST \
          -d "{
            \"username\": \"GitHub Actions\",
            \"avatar_url\": \"https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png\",
            \"embeds\": [{
              \"title\": \"✅ Pull Request Merged\",
              \"url\": \"${{ github.event.pull_request.html_url }}\",
              \"color\": 5763719,
              \"author\": {
                \"name\": \"${{ github.event.pull_request.user.login }}\",
                \"url\": \"https://github.com/${{ github.event.pull_request.user.login }}\",
                \"icon_url\": \"${{ github.event.pull_request.user.avatar_url }}\"
              },
              \"description\": \"**#${{ github.event.pull_request.number }}** - ${{ github.event.pull_request.title }}\",
              \"fields\": [
                {
                  \"name\": \"Branch Flow\",
                  \"value\": \"`${{ github.head_ref }} ➝ ${{ github.base_ref }}`\",
                  \"inline\": false
                }
              ],
              \"footer\": {
                \"text\": \"GitHub • PR Merged\"
              },
              \"timestamp\": \"${{ github.event.pull_request.merged_at }}\"
            }]
          }" \
          ${{ secrets.DISCORD_WEBHOOK_URL }}
